.mainCard{
    background-color: #ffffff;
    margin: 30px 75px;
    border-radius: 8px;
}

.buttons {
    padding-top: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.content {
    padding-left: 35px;
    text-align:justify;
    padding-bottom: 25px;
    line-height: 35px;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}

.details {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: rgb(54, 145, 19);
    color: #ffffff;
    padding: 5px;

    margin-top: 15px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.headerProduct {
    display: flex;
    justify-content: space-between;

    margin-right: 30px;
}

.productSection {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}