.mainCard{
    background-color: #ffffff;
    margin: 40px;
    border-radius: 8px;
    border: 1px solid  rgb(36, 172, 108);
}

.content {
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align:justify;
    padding-bottom: 25px;
    line-height: 35px;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 500;
}

.details {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: rgb(19, 145, 86);
    color: #ffffff;
    padding: 5px;

    margin-top: 5px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.details:hover {
    background-color:  rgb(36, 172, 108);
}

.headerClient {
    display: flex;
    justify-content: space-between;

    margin-right: 30px;
}

.clientSection {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.headerProduct {
    display: flex;
    justify-content: space-between;

    margin-right: 30px;
}

.productSection {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.table {
    font-family: "Roboto Mono", monospace;
    border-collapse: collapse;
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  
  .table td,
  .table th {
    border: 1px solid #ddd;
  }
  
  .table tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .table th {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #04aa6d;
    color: white;
    text-align: center;
  }

  