.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #006a4e;
}

.btns {
  display: flex;
  padding: 10px;
}

.title {
  color: #ffffff;
  font-size: 45px;
}
