.createUser {
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;

  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: rgb(54, 145, 19);
  color: #ffffff;

  cursor: pointer;

  margin-right: 10px;
  margin-left: 20px;
}

.createUser:hover {
  background-color: rgb(86, 176, 50);
}